{% extends 'trackMusic/base.html' %}
{% block tab %}
    {% include "trackMusic/tabs.html" with active_tab='add_tracks' %}
{% endblock %}
{% block content %}
<div class="container" style="width:80%">
	<div class="page-header">
  <h1 style="text-align: -webkit-center;">Add Track</h1>
	</div>

  <h1 style="text-align: -webkit-center; color:#00FF00">{{ message }}</h1>

    {{ form.non_field_errors }}
	<form class="form-horizontal" method="post" action="">
	{% csrf_token %}
  <div class="form-group">
      {{ form.track_name.errors }}
    <label for="inputTrack" class="col-sm-2 control-label">Track Name</label>
    <div class="col-sm-10">
      {{ form.track_name }}
    </div>
  </div>
  <div class="form-group">
      {{ form.track_rating.errors }}
    <label for="inputRating" class="col-sm-2 control-label">Rating</label>
    <div class="col-sm-10">
      {{ form.track_rating }}
    </div>
  </div>

  <div class="form-group">
      {{ form.genre.errors }}
  <label for="inputGenre" class="col-sm-2 control-label">Genre</label>
  <div class="col-sm-10">
  {% for checkbox in form.genre %}
  	    {{ checkbox }}
  {% endfor %}
  </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Add Track</button>

    </div>
  </div>
</form>

    <button class="btn btn-default btn-primary" onclick="window.location='/trackmusic'">Back To Tracks</button>
</div>

{% endblock %}