

<ul class="nav navbar-nav">
        <li class="{% if active_tab == 'tracks' %} active{% endif %}"><a href="/trackmusic/tracks">Tracks</a></li>
        <li class="{% if active_tab == 'genres' %} active{% endif %}"><a href="/trackmusic/genres" >Genres</a></li>
        <li class="{% if active_tab == 'add_tracks' %} active{% endif %}"><a href="/trackmusic/tracks/add" >Add Tracks</a></li>
        <li class="{% if active_tab == 'add_genres' %} active{% endif %}"><a href="/trackmusic/genres/add" >Add Genres</a></li>

</ul>